.github/**
.husky/**
.vscode/**
.vscode-test/**
docs/**
!docs/brand/icon.png
example-workspaces/**
jest/**
node_modules/**
out/integrationTest/**
out/**/*.test.js
src/**
.editorconfig
**/.eslintrc.js
**/.eslintrc.json
.gitattributes
.gitignore
jest.config.js
renovate.json
rollup.config.js
tsconfig.json
**/tsconfig.json

*.log
**/*.map
**/*.ts
